{% extends 'base.html.twig' %}

{% block title %}Inscription à la commission du {{ fondsAide.nom }} {% endblock %}
{% form_theme allFieldsForm _self %}
{% block body %}
   <div class="container">
     <fieldset class="border p-3">
        <legend class="w-auto"> Le projet </legend>
        <p>
        
         {{ form_row(allFieldsForm.titre,{'label':'Titre du projet','attr':{'class':'form_control-sm'}}) }}
         
         {{ form_row(allFieldsForm.duree,{'label':'Durée envisagée','attr':{'class':'form_control-sm'}}) }}
         {{ form_row(allFieldsForm.formatTournage,{'label':'Format de tournage','attr':{'class':'form_control-sm'}}) }}
         {{ form_row(allFieldsForm.formatDefinitif,{'label':'Format définitif','attr':{'class':'form_control-sm'}}) }}
        </p>
       <p>
          {{ form_row(allFieldsForm.genre,{'label':'Genre','attr':{'class':'form_control-sm'}}) }} 
      </p>
      <p>
         {{ form_row(allFieldsForm.synopsis,{'label':'Synopsis ( 600 caractères maximum)','attr':{'class':'form_control-sm'}}) }}
      </p>
      <p>
         {{ form_row(allFieldsForm.adaptationOeuvre,{'label':'Adaption d\'une Oeuvre préexistante','attr':{'class':'form_control-sm'}}) }}
         {{ form_row(allFieldsForm.adaptationOeuvreToa,{'label':'Titre de l\'oeuvre et l\'auteur *','attr':{'class':'form_control-sm'}}) }}
         {{ form_row(allFieldsForm.adaptationOeuvreDacp,{'label':'Droits d\'adaption céder par *','attr':{'class':'form_control-sm'}}) }}
      </p>
      <p>
          <legend> Coordonnées </legend>
           
            {{ form_row(allFieldsForm.deposant,{'label':'Projet déposé par ','attr':{'class':'form_control-sm'}}) }}
      </p>
      </fieldset>
      <hr>
      <fieldset class="border p-3">
            <legend class="w-auto"> Production </legend>
            
      </fieldset>
   </div> 
   {{form_widget(allFieldsForm)}}
{% endblock %}

{#  Ce block permet de gérer le formulaire de l'entité auteurRealisateurs #}

{% block _registration_auteurRealisateur_widget %}
   <p>Partie formulaire  auteur realisateur </p>
   {{ form_widget(form) }}
{% endblock %}

{% block _registration_auteurRealisateurs_entry_row %}
<div class="form-group">
   <div class="row">
      <div class="col">
          {{form_widget(form.nom)}}
       </div>
       <div class="col">
         {{form_widget(form.prenom)}}
      </div>
   </div>
</div>
{% endblock %}